@import url('https://fonts.googleapis.com/css2?family=Archivo:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Archivo:ital,wght@0,100..900;1,100..900&family=Lemon&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Archivo+Black&family=Archivo:ital,wght@0,100..900;1,100..900&family=Lemon&display=swap');

:root {
    --navBackground: #1b1414; 
    --linkColor: #fff;
    --hoverColor: #ffcc00;
    --activeColor: #ffcc00;
    --buttonBackground: #fff1dc;
    --buttonTextColor: #1b1414; 
    --logoSize: 60px; 
  }




  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    font-family: "Archivo";
    background-color: var(--navBackground);
    color: var(--linkColor);
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  nav {
    position: sticky;
    top: 0;
    background-color: #1b1414;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 1450px;
    height: 100px;
    box-shadow: 0px 37px 30px 0px rgba(0, 0, 0, 50%);
    z-index: 1;

    /* LOGO */
    > img {
        width: 92px;
        height: 72px;
        margin-left: 100px;
        cursor: pointer;
    }

    /* NAVIGATION */
    > div {
        display: flex;
        gap: 65px;
        align-items: center;

        > a {
            color: white;
            text-decoration: none;
            font: 1.25rem 'Archivo';
        }
    }

    /* LOGIN BUTTON */
    > a {
        text-decoration: none;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 0.50rem;
        background-color: #fff1dc;
        color: black;
        font: bold 1rem 'Archivo';
        width: 162px;
        height: 36px;
        margin-right: 100px;        
        border-radius: 50px;
        border: none;
        cursor: pointer;
        
        > img {
            width: 1.25rem;            
            height: 1.25rem;
        }
    }

    > .mobile {
        display: none;
    }
}
  
.contact-container {
    position: relative;
    z-index: 0;
    width: 1440px;
    background: rgb(64,49,49);
    background: linear-gradient(180deg, rgba(64,49,49,1) 0%, rgba(27,20,20,1) 100%);
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    
  }

h1{ 
    text-align: center;
    color:#FFF1DC;
    margin-top: 30px;
    margin-bottom: 10px;
    font: normal 4rem "Archivo";
    
    

}
h4{
    text-align: center;
    color:#FFF1DC;
    font: normal 1.5rem "Archivo";
}

body {
    font-family:"Archivo";
    background-color:   #403131;
    margin: 0;
    padding: 0;
}
.input-container {
    display: flex;
    justify-content: space-between; 
    margin-bottom: 15px;
    height: 2%;
    width: 50%;
    margin-left:25%;
    margin-top:  2%;
    margin-bottom :2%;
}

.input-container input {
    
    max-width: 400px;
    flex: 1; 
    padding: 10px; 
    border: 1px solid #FFF1DC;
    border-radius: 4px; 
    font-size: 16px;
    background-color: #FFF1DC;

}

.input-container input:last-child {
    margin-left: 40px; 
}

label {
    display: block;
    margin-bottom: 5px;
    color: #555;
}

input[type="text"]::placeholder,
input[type="email"]::placeholder {
    color: #aaa;
    opacity: 1;

}

textarea {
    background-color: #FFF1DC;
    width: 50%;
    padding: 20px;
    height: 8%;
    border: 1px solid ;
    border-radius: 4px;
    box-sizing: border-box;
    margin-left: 25%;
    margin-top: 10px;
    margin-bottom: 20px;
    

}

button {
    width: 15%;
    padding: 10px;
    background-color: #614a4a;
    border: none;
    border-radius: 4px;
    color: #FFF1DC;
    font-size: 16px;
    cursor: pointer;
    margin-left: 42.5%;
    margin-top: 15px;
    margin-bottom: 30px;
}

button:hover {
    background-color: #614a4a;
}

h5{
    color: #FFF1DC;
    margin-left: 25%;
    margin-top: 40px;

}

.social-container{
    margin: 0px auto;
    display: flex;
    background-color: #fff1dc;
    width: 775px;
    border-radius: 10px;
    display: flex;
    gap: 100px;
    padding: 10px 5px;
}

.button:hover {
  transform: translateY(-5px);
  transition: 0.3s ease;
  background-color: #fff1dc73;
}

.navigation::after{
  content: '';
  display: block;
  padding-bottom: 5px;
  border-bottom: 4px solid #FFF1DC;
  border-radius: 2px;
  transform: scaleX(0);
  transition: transform 0.2s ease;
}

.navigation:hover::after{
  transform: scaleX(1);
}

footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #1b1414;
  width: 1440px;

  > div {
      margin-top: 50px;
      display: flex;
      color: #fff1dc;
      margin-bottom: 20px;
      gap: 102px;

      > div:nth-child(1) {
          display: flex;

          > div {
              margin-top: 20px;

              > h1 {
                  font: normal 2rem 'Lemon';
              }

              > div > img {
                  margin-left: 25px;
              }
          }
          > img {
              width: 300px;
              height: 300px;
              margin-right: 15px;
              margin-left: -120px;
          }
      }

      > div:nth-child(2) {
          > h1 {
              font: 600 2rem 'Archivo';
              margin-bottom: 20px;
          }
          > a {
              color: #fff1dc;
              display: block;
              text-align: center;
              text-decoration: none;
              font: normal 1.5rem 'Archivo';
              margin-bottom: 10px;
          }
      }

  }
  > p {
      font: normal 1.5rem 'Archivo';
      color: #ffffff82;
      border-top: 1px solid #FFFFFF;
      width: 1440px;
      padding-top: 20px;
      text-align: center;
  }
}

.menu {
    display: none;
    width: 300px;
    background-color: #1b1414;
    border-radius: 20px;
    position: fixed;
    z-index: 1;
    right: 10px;
    top: 10px;
    .back {
        position: absolute;
        width: 50px;
        top: 5px    ;
    }

    > div {
        
        display: flex;
        flex-direction: column;
        align-items: center;

        > img {
        width: 150px;}

        > a{
            text-decoration: none;
            color: white;
            font: 1rem 'Archivo';
            margin-bottom: 10px;
        }
    }
}

@media screen and (max-width: 1024px) {
    
    nav {
        width: 1014px; height: 80px;
        
        > img {
            width: 72px; height: 52px;}

        > div { 
            gap: 40px;
            > a {font-size: 1rem;}
        }
        
        > a {
            font-size: .75rem; width: 122px; height: 26px;
            > img {width: 16px;height: 16px;}
        }
    }

    .contact-container {
        width: 1014px;
        > h1 {font-size: 3.25rem;}
    }

    .input-container {margin: 10px 0; gap: 30px;}
    #email {margin: 0;}
    #message {width: 500px; margin: 20px 0;}

    form {
        justify-items: center;
     > button {
        font-size: .90rem;
        margin: 0;
        align-self: center;
        width: 180px;
    }}

    .social-container {
        width: 665px;
        gap: 80px;
        justify-content: center;


        > a:nth-child(1) > img:nth-child(1) {
            width: 120px;
            margin-right: -15px;
        }
        > a > img {
            width: 80px;
        }
    }

    footer {
        width: 1014px;

        > div {
            > div:nth-child(1) {
                > img {width: 200px; height: 200px;}
                > div {
                    > h1 {font-size: 1.25rem;}
                    > div > img {width: 40px; margin-left: 10px;}
                }
            }

            > div:nth-child(2) {
                > h1 {font-size: 1.25rem;}
                > a {font-size: 1rem; margin-bottom: 5px;}
            }
        }
        
        > p {width: 1014px; font-size: 1rem; padding-top: 10px; margin: 0 0;}
    }

    .menu {display: none;}
}



@media screen and (max-width: 768px) {

    nav {
        width: 768px;
        > img {margin: 0 50px;}
        > .desktop {display: none;}
        > .mobile {
            display: initial;
            width: 50px;
            height: 30px;
        }
    }

    .contact-container {
        width: 768px;

        > h1 {font-size: 3rem;}
        > h4 {font-size: 1.25rem;}
    }

    .input-container {
        margin: 15px 0 0 0;
        flex-direction: column;
        
        > input:nth-child(1) {
            margin-bottom: 0;
        }

        >input:nth-child(2) {
            margin-left: 0px;
        }
    }

    form > div:nth-child(2) {
        display: flex;
        justify-content: center;
        > textarea {
        width: 430px;
        margin: 0;
    }}

    form {
        display: flex;
        flex-direction: column;
        align-items: center;

        > button {
            width: 150px;
            margin: 10px 0;
        }
    }

    .social-container {
        width: 460px;
        height: 80px;
        gap: 40px;

        > a:nth-child(1) > img:nth-child(1) {width: 90px;}
        > a > img {
            width: 60px;
        }
    }

    footer {
        width: 768px;
        
        >div {
            >div:nth-child(1) {
                > img {width: 150px; height: 150px;}
                > div {
                    > h1 {font-size: 1rem;}
                    > div > img {width: 25px; margin-left: 5px;}}
            }

            >div:nth-child(2) {
                > h1 {font-size: 1.5rem;}
                > a {font-size: 1rem; margin-bottom: 2px;}
            }
        }

        > p {width: 768px; font-size: .75rem;}
    }
}

@media screen and (max-width: 380px) {
    
    nav {
        width: 370px;
        height: 60px;

        > img {margin: 0 20px; width: 50px; height: 40px;}
        > .mobile {width: 30px; height: 20px;}
    }

    .contact-container {
        width: 368px;
        
        > h1 {font-size: 1.5rem;}
        > h4 {font-size: .75rem;}
    }
    


    .input-container {
        align-items: center;
        gap: 15px;
        > input {width: 270px; height: 30px; font-size: .75rem;}
        > input::placeholder {font-size: .75rem;}
    }
    
    
    #message {width: 300px; font-size: .75rem;}
    
    form > button {width: 120px; font-size: .75rem;}

    .social-container {
        width: 300px;
        height: 50px;
        gap: 20px;
        
        > a:nth-child(1) > img:nth-child(1) {width: 60px; margin-right: 2px;}

        > a > img {
            margin-top: -5px;
            width: 40px;
        }
    }

    footer {
        width: 365px;

        >div {
            flex-direction: column;
            gap: 0px;
         
            >div:nth-child(1) {
                padding-left: 100px;
                > img {width: 100px; height: 80px;}
                > div > h1 {
                    margin-top: -10px;
                }
            }

            >div:nth-child(2) {
                > h1 {font-size: 1rem; text-align: center; margin: 10px 0;}
                > a {font-size: .75rem;}
            }
        }

        >p {width: 365px; font-size: .5rem; margin-top: -20px;}
    }

    .menu {
        width: 200px;
        
        
        .back {
            width: 30px;
        }

        > div {
            margin-bottom: 10px;
            > img {width: 60px; margin-bottom: 5px;}
            > a {font-size: .75rem; margin-bottom: 0px;}

    
        }
    }
}