@import url('https://fonts.googleapis.com/css2?family=Archivo:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Archivo:ital,wght@0,100..900;1,100..900&family=Lemon&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Archivo+Black&family=Archivo:ital,wght@0,100..900;1,100..900&family=Lemon&display=swap');


:root {
    --navBackground: #1b1414; 
    --linkColor: #fff;
    --hoverColor: #ffcc00;
    --activeColor: #ffcc00;
    --buttonBackground: #fff1dc;
    --buttonTextColor: #1b1414; 
    --logoSize: 60px; 
  }

  
.main{
    
    background: url(reg_icons/BACKGROUNDreg.png),linear-gradient(rgba(0, 0, 0, 0.7)100%, rgba(0, 0, 0, 0.7)100%);
    height: 108vh;
    margin: 0%;
    padding: 0%;
    background-size: 100%  cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: row;
    
}


.login_container{
    background-color: #1b1414; 
    margin-left: 15%;
    margin-top: 5%;
    border-radius: 10px; 
    max-width: 100%;
    width: 35%; 
    height: 85%; 
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2),rgba(0, 0, 0, 0.2); 
    display: flex; 
    flex-direction: row;
    align-items: center;
    padding: 10px;
    padding-bottom: 0%;
    margin-bottom: 0%;


  
    
}

img{
    margin-left: 10%;
    margin-top: 10%;
    opacity: 100%;
    max-width: 120%;
}

h1{
    font-family: "lemon";
    color: #ffffff;
    margin-top: -95%;
    margin-left: 3%;
    
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 10%;
}

.input-container{
    font-size: 13px;
    margin-top: 0%;
    padding: 20px;
    margin-left: -48%;
    display: flex;
    gap: 30px;
    width: 138%;
    
    

}

.input-container2{

    font-size: 13px;
    flex-direction: column;
    padding: 20px;
    margin-left: -48%;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    margin-top: -5%;
    width: 138%;
    margin-bottom: 5%;
    
}

label {
    display: block;
    margin-bottom: 5px;
    color: #000000;
}

input[type="text"],
input[type="password"] {
    max-width: 100%;
    width: 100%; 
    padding: 10px; 
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box; 
    color: #595959;
    font-style: none;
}

.Terms{ 

    align-items: center;
    justify-content: center;
    justify-items: center;
    font-size: 12px;
    margin-top: -25%;
    text-decoration: none;
    margin-bottom: 5%;
    margin-left: -2%;
  
  }
  
.terms-link {
    align-items: center;
    justify-content: center;
    justify-items: center;
    margin-top: -250px; 
    color: rgb(102, 99, 99); 
    margin-left: 3%;
    font-size: 13px;
    text-decoration: none;
  }

.Reg-button {
    background-color: #8E6464;
    color: white;
    max-width: 100%;
    width: 50%; 
    padding: 10px; 
    border-radius: 20px;
    box-sizing: border-box; 
    margin-top: 5%;
    /* margin-left: -15%; */
    margin-bottom: 5%;
    border:none;
    transition: background-color 0.3s ease;
    align-items: center;
    justify-content: center;
    justify-items: center;

}
.Reg-button:hover {
    background-color: #c5b4b4;
  }


.acounts_container{
    width: 100%;
    margin-left: -26%;
    margin-bottom: 5%;
    align-items: center;
    justify-content: center;
    justify-items: center;

}


.ready-account-text {
  
    font-size: 12px;
    margin-left: 7%;
    
    align-items: center;
    justify-content: center;
    justify-items: center;
   
  
  }
  
  .create-account-btn {
    background-color: #D9D9D9;
    color: #696666;
    
    border: none;
    border-radius: 25px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    padding: 10px;
    margin-top: 10px;
    /* margin-left: -15%; */
    font-family: "Archivo";
    width: 50%;
    align-items: center;
    justify-content: center;
    justify-items: center;
  }
  
  .create-account-btn:hover {
    background-color: #0056b3;
  }

  /* .back-button {
    flex-direction: row-reverse;
    padding: 10px 20px;
    background-color: #1b1414; 
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    
}

.back-button:hover {
    background-color: #0056b3; 
} */