@import url('https://fonts.googleapis.com/css2?family=Archivo:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lemon&display=swap');

:root {
    --navBackground: #1b1414;
    --linkColor: #fff;
    --hoverColor: #ffcc00;
    --activeColor: #ffcc00;
    --buttonBackground: #fff1dc;
    --buttonTextColor: #1b1414;
    --logoSize: 60px;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Archivo', sans-serif;
    background-color: black;
}

.main {
    background: url(BACKGROUND.png), linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7));
    height: 100vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-size: cover;
    background-position: center;
}

.login_container {
    background-color: #1b1414;
    border-radius: 10px;
    box-shadow: 0 8px 30px rgba(0, 0, 0, 0.2);
    width: 35%;
    height: 80%;
    padding: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
}

h1 {
    font-family: 'Lemon', cursive;
    font-size: 36px;
    margin-bottom: 20px;
    padding-right: 400px;
}

.input-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

input[type="text"],
input[type="password"] {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
    font-size: 16px;
}

.terms-link {
    margin: 10px 0;
    text-align: center;
    color: rgb(102, 99, 99);
    font-size: 14px;
    text-decoration: none;
}
.logo-image {
  border-radius: 10px; 
  padding-right:  350px;
}

.login-button {
    background-color: #8E6464;
    color: white;
    width: 100%;
    padding: 12px;
    border-radius: 25px;
    border: none;
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
    margin-top: 10px;
    transition: background-color 0.3s ease;
}

.login-button:hover {
    background-color: #c5b4b4;
}

.or-divider {
    margin: 20px 0;
    text-align: center;
    font-size: 16px;
    font-weight: bold;
    color: #aaa;
    display: flex;
    align-items: center;
    gap: 10px;
}

.or-divider:before,
.or-divider:after {
    content: '';
    flex: 1;
    height: 1px;
    background-color: #aaa;
}

.social-login-container {
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    width: 100%;
}

.social-login-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #fff;
    color: #333;
    border-radius: 5px;
    font-size: 14px;
    width: 100%;
    padding: 12px;
    text-decoration: none;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: box-shadow 0.3s ease;
}

.social-login-btn img {
    width: 20px;
    height: 20px;
    margin-right: 10px;
}

.social-login-btn:hover {
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
}



.no-account-text {
    font-size: 14px;
    color: blue;
}

.no-account-container {
  display: flex; /* Enable flexbox */
  justify-content: center; /* Center horizontally */
  align-items: center; /* Center vertically */
  flex-direction: column; /* Ensure elements stack vertically if needed */
  height: 10%;
}

.create-account-btn {
  background-color: #D9D9D9;
  color: #343434;
  font-size: 14px;
  border: none;
  border-radius: 25px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  padding: 10px 20px;
  margin-top: 10px; /* Adjust the spacing above */
  margin-left: auto; /* Add space to the left */
  margin-right: auto; /* Center horizontally when needed */
  text-decoration: none;
  display: block; /* Ensure it does not stretch */
  max-width: 100px; /* Limit the button's width */
}



.create-account-btn:hover {
    background-color: #2563eb;
    color: white;
}

.back-button {
  position: absolute;
  top: 20px;
  right: 20px;
  padding: 10px 20px;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  z-index: 5;
}

.back-image {
    width: 100px;
}

@media screen and (max-width: 1024px) {   
    .login_container {
        width: 55%;
        height: auto;
        padding: 20px;
        margin-top: 20px;
    }

    h1 {
        font-size: 28px;
        text-align: center;
        padding-right: 0;
    }

    .input-container {
        gap: 10px;
    }

    input[type="text"],
    input[type="password"] {
        font-size: 14px;
        padding: 10px;
    }

    .login-button {
        font-size: 14px;
        padding: 10px;
    }

    .or-divider {
        font-size: 14px;
    }

    .social-login-btn {
        font-size: 12px;
        padding: 10px;
    }

    .social-login-btn img {
        width: 18px;
        height: 18px;
    }

    .no-account-container {
        flex-direction: column;
        text-align: center;
    }

    .create-account-btn {
        font-size: 12px;
        padding: 8px 16px;
        max-width: 90px;
    }

    .logo-image {
        width: 500px; /* Adjust based on your desired size */
        height: 500px; /* Adjust based on your desired size */
        padding-right: 0;
    }

    .back-button {
        font-size: 14px;
        padding: 8px 16px;
    }
}

@media screen and (max-width: 380px) {

    .login_container {
        width: 100%;
        height: auto;
        padding: 15px;
        margin-top: 10px;
        border-radius: 5px;
    }

    h1 {
        font-size: 24px;
        text-align: center;
        padding-right: 0;
    }

    .input-container {
        gap: 8px;
    }

    input[type="text"],
    input[type="password"] {
        font-size: 12px;
        padding: 8px;
    }

    .terms-link {
        font-size: 12px;
    }

    .login-button {
        font-size: 14px;
        padding: 10px;
        border-radius: 20px;
    }

    .or-divider {
        font-size: 12px;
    }

    .or-divider:before,
    .or-divider:after {
        height: 0.5px;
    }

    .social-login-btn {
        font-size: 12px;
        padding: 8px;
    }

    .social-login-btn img {
        width: 16px;
        height: 16px;
    }

    .no-account-container {
        text-align: center;
    }

    .no-account-text {
        font-size: 12px;
    }

    .create-account-btn {
        font-size: 12px;
        padding: 6px 12px;
        max-width: 100px;
        margin: 0 auto;
    }

    .back-button {
        font-size: 12px;
        padding: 6px 12px;
        margin-right: -50px;
        
        > img {width: 70px;}
    }

    .logo-image {
        display: none;
    }
}
    

@media screen and (max-width: 768px) {
    .login_container {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 80%;
        height: auto;
        padding: 15px;
    }
    

    h1 {
        font-size: 28px;
        text-align: center;
        padding-right: 0;
    }

    .input-container {
        gap: 10px;
    }

    input[type="text"],
    input[type="password"] {
        font-size: 14px;
        padding: 10px;
    }

    .terms-link {
        font-size: 12px;
    }

    .login-button {
        font-size: 14px;
        padding: 12px;
        border-radius: 20px;
    }

    .or-divider {
        font-size: 14px;
    }

    .or-divider:before,
    .or-divider:after {
        height: 1px;
    }

    .social-login-btn {
        font-size: 14px;
        padding: 10px;
    }

    .social-login-btn img {
        width: 18px;
        height: 18px;
    }

    .no-account-container {
        text-align: center;
    }

    .no-account-text {
        font-size: 14px;
    }

    .create-account-btn {
        font-size: 14px;
        padding: 8px 16px;
        max-width: 120px;
        margin: 0 auto;
    }

    .back-button {
        margin-top: 20px;
        font-size: 14px;
        padding: 8px 16px;
        top: 15px;
        right: 60px;
    }

    .logo-image {
        display: none;
    }
}
