@import url('https://fonts.googleapis.com/css2?family=Archivo:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Archivo:ital,wght@0,100..900;1,100..900&family=Lemon&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Archivo+Black&family=Archivo:ital,wght@0,100..900;1,100..900&family=Lemon&display=swap');


:root {
    --navBackground: #1b1414; 
    --linkColor: #fff;
    --hoverColor: #ffcc00;
    --activeColor: #ffcc00;
    --buttonBackground: #fff1dc;
    --buttonTextColor: #1b1414; 
    --logoSize: 60px; 
  }

  
.main{
    
    background: url(BACKGROUND.png),linear-gradient(rgba(0, 0, 0, 0.7)100%, rgba(0, 0, 0, 0.7)100%);
    height: 108vh;
    margin: 0%;
    padding: 0%;
    background-size: 100%  cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    

    
}

.login_container{
    background-color: #1b1414; 
    margin-left: 10%;
    margin-top: 4%;
    border-radius: 10px; 
    max-width: 100%;
    width: 35%; 
    height: 85%; 
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2),rgba(0, 0, 0, 0.2); 
    display: flex; 
    align-items: center;
    padding: 10px;
    padding-bottom: 0%;
    
}

img{
    margin-left: 13%;
    margin-top: 10%;
    opacity: 100%;
    max-width: 120%;
}

h1{
    font-family: "lemon";
    color: #ffffff;
    margin-top: -95%;
    margin-left: 10%;
    

}

.input-container {
    
    padding: 20px;
    margin-left: -46.5%;
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-top: 15%;
    align-items: center;
  
}

label {
    display: block;
    margin-bottom: 5px;
    color: #555;
}

input[type="text"],
input[type="password"] {
    max-width: 100%;
    width: 100%; 
    padding: 10px; 
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box; 
    color: #aaa;
    font-style: none;
}

span{ 

  margin-left: -10%;
  font-size: 12px;
  margin-top: -10%;
  text-decoration: none;
  align-items: center;
  

}

.terms-link {
  margin-top: -250px; 
  color: rgb(102, 99, 99); 
  margin-left:-3%;
  font-size: 13px;
  text-decoration: none;
  align-items: center;
 
}

.login-button {
    background-color: #8E6464;
    color: white;
    max-width: 100%;
    width: 50%; 
    padding: 10px; 
    border-radius: 20px;
    box-sizing: border-box; 
    margin-top:5%;
    margin-left: 3%;
    margin-bottom:3%;
    border:none;
    transition: background-color 0.3s ease;

}
  .login-button:hover {
    background-color: #c5b4b4;
  }

.acounts_container{
    margin-top: 4px;
    margin-left: -46%;


}

.social-login-container {
  padding: 20px;
  margin-left: -46.5%;
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-top: -5%;
  align-items: center;
  display: grid;

  
}

.social-login-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #fff;
  color: #333;
  border-radius: 4px;
  font-size: 12px;
  width: 80%;
  text-decoration: none;
  margin-left: 10%;
  font-family: "Achivo";
  
  
  
 
  
}

.social-login-btn img {
  height: 30px;
  margin-right: 13%;
  height: 30px;
  margin-left:5px;
  margin-top :3px;
  margin-bottom: 3px;
  
}

.social-login-btn:hover {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.no-account-container {
  display: flex;
  justify-content: center;
  align-items: left;
  margin-top: 20px;
  align-items: center;
    display: grid;
}

.no-account-text {
  
  font-size: 12px;
  margin-left: -50%;
  margin-top: -8px;
  align-items: center;
  display: grid;

}

.create-account-btn {
  background-color: #D9D9D9;
  color: #343434;
  font-size: 12px;
  border: none;
  border-radius: 25px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  padding: 10px;
  margin-top: 10px;
  margin-left: -50%;
  font-family: "Archivo";
  width: 100%;
  align-items: center;
  display: grid;
}

.create-account-btn:hover {
  background-color: #2563eb;
}

.back-button {
  position: absolute;
  top: 10%; 
  left: 85%; 
  padding: 10px 20px;
  background-color: #1b1414; 
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
}

.back-button:hover {
  background-color: #0056b3;
}